{% extends "events/base.html" %}

{% block title %}Liste des évènements {% endblock %}

{% block content %}

<h2>Liste des évènements</h2>

<table>
    <thead>
        <th>Titre</th>
        <th>Date</th>
        <th>Lieu</th>
        <th>Capacité</th>
        <th>Voir détail</th>
    </thead>
    <tbody>
        {% for event in object_list %}
        <tr>
            <td>{{event.titre}}</td>
            <td>{{event.date}}</td>
            <td>{{event.lieu}}</td>
            <td>{{event.capacite}}</td>
            <td><a href="{% url 'events:detail_event' event.slug %}">Voir détail</a></td>
        </tr>
        {% empty %}
        <h4>Aucun article pour le moment.</h4>
        {%endfor%}
    </tbody>
</table>

<!-- Pagination -->
<div class="pagination" style="margin-top: 2rem">
   
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Première</a>
        <a href="?page={{ page_obj.previous_page_number }}">Précédente</a>
    {% endif %}
    <span>
        Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Dernière &raquo;</a>
    {% endif %}
    
</div>

<a href="{% url 'events:ajouter_event'%}">Ajouter un évènement</a>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Se déconnecter</button>
</form>

{% endblock %}